.headline {
  &__title {
    position: relative;
    display: block;
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
    font-family: $sans-secondary;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

    @mixin atSmall {
      font-size: 56px;
    }
  }

  &__title--full {
    width: 100%;
  }
  &__title--border {
    border-top: 8px solid color(black a(0.15));
    border-bottom: 15px double color(black a(0.15));
    border-left: 2px solid color(black a(0.15));
    border-right: 2px solid color(black a(0.15));
  }

  &__title--reverse {
    background-color: #000;
    color: white;
  }

  &__supertitle {
    position: absolute;
    text-transform: none;
    left: -10px;
    top: -32px;
    font-family: $cursive;
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    color: color(black a(50%));
  }
}
.content {
  &__subtitle {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    padding-bottom: 20px;
    padding-left: 10px;
    line-height: 1;
    text-align: center;

    @mixin atSmall {
      text-align: inherit;
    }
    @mixin atMedium {
      padding-top: 30px;
    }
  }

  &__text {
    line-height: 1.7;
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10px;

    @mixin atSmall {
      text-align: inherit;
    }
  }
}
