.spinner-loader {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 0.5rem solid color($cta lightness(90%));
    border-top-color: color($cta lightness(80%));
    transform: translate(-50%, -50%);    
    animation: spin .9s infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}