.contact__form__container {
  &::after {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('images/triangles.svg');
    background-attachment: fixed;
    opacity: 0.2;
  }
  & input:-internal-autofill-previewed,
  & input:-internal-autofill-selected,
  & textarea:-internal-autofill-previewed,
  & textarea:-internal-autofill-selected,
  & select:-internal-autofill-previewed,
  & select:-internal-autofill-selected {
    background-color: google-color(amber, 100) !important;
  }
}

.contact__form {
  width: 100%;
  &__inner {
    border: 1px solid color(black a(20%));
    border-radius: 3px;
    padding: 30px 15px;
  }
  &__head {
  }
  &__headline {
    text-align: center;
    font-size: 50px;
    color: black;
  }
  &__subheadline {
    text-align: center;
    font-size: 18px;
    color: black;
    padding-bottom: 30px;
  }
  & .btn {
    background-color: black;
    font-family: $sans-secondary;
    text-transform: uppercase;
    font-weight: 800;
    padding: 1.5rem;
    display: block;
    width: 100%;
    border-radius: 3px;
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s ease-out;

    &:hover {
    }
  }
  & label {
    display: block;
    font-size: 1.2rem;
    padding-bottom: 15px;
    padding-top: 15px;
    color: color(black a(50%));
    font-family: $sans-secondary;
  }
  & input[type='text'],
  & input[type='email'],
  & select,
  & textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 15px;
    background-color: google-color(amber, 300);
    border: 1px solid color(black a(20%));
    transition: all 0.3s ease-out;
    border-radius: 3px;

    &:focus {
      /* border-color: color(black a(10%)); */
      background-color: google-color(amber, 100);
    }
  }
  & textarea {
    min-height: 100px;
  }
  & select {
    position: relative;
    height: calc(50px + 2px);
    text-indent: 8px;

    &::after {
      border: 3px solid rgba(0, 0, 0, 0);
      border-radius: 2px;
      border-right: 0;
      border-top: 0;
      content: ' ';
      display: block;
      height: 0.625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: 0.625em;

      border-color: #3273dc;
      right: 1.125em;
      z-index: 4;
      top: 50%;
      border-color: #8c43ff;
    }
  }
  &__hr {
    /* background-color: google-color(brown, 300); */
  }
}
