.parallax__hero {
  overflow: hidden;
  /* overflow-x: hidden; */
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: white;

  &-bg__text {
    position: absolute;
    z-index: 2;
    top: -10%;
    bottom: 0;
    left: 10%;
    right: 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: color(google-color(amber, 200) a(30%));

    font-weight: 900;
    /* font-family: $sans-secondary; */
    font-size: 18rem;
    line-height: 1;
    /* letter-spacing: 5rem; */

    @mixin atMedium {
      /* font-size: 37.5rem;
      letter-spacing: 5rem; */
    }
    & .the {
    }
    & .brazilian {
      position: relative;
      top: -5%;
    }
    & .guys {
      position: relative;
      top: -10%;
    }
  }
  &-content {
    position: relative;
    z-index: 10;

    &--inner {
      position: relative;
      z-index: 1;
    }
  }
}

.bg__hero-text {
  position: relative;
  background: linear-gradient(
    -30deg,
    google-color(amber, 100),
    google-color(amber, 300)
  );
  overflow: hidden;

  &::before {
    content: ' ';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: google-color(amber, 50);
    transform: rotate(-45deg);
    background-image: url('images/triangles.svg');
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
  }

  &::after {
    content: ' ';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: google-color(amber, 50);
    transform: rotate(45deg);
    background-image: url('images/triangles.svg');
    background-size: cover;
    opacity: 0.3;
    border-radius: 6.25rem;
    background-attachment: fixed;
    /* transform: translate(-45%, -100%) skewX(10deg) skewY(0) scaleY(1)
      scaleX(1.04) rotate(60deg); */
    /* transform: translate(-15%, -80%) skewX(10deg) skewY(0) scaleY(1)
      scaleX(1.04) rotate(60deg); */
  }
}
.hero__social-media {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;

  font-size: 3.5rem;

  & .iconify {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 1;
    color: color(black a(15%));
    transition: all 0.3s ease-out;

    &:hover {
      opacity: 1;

      &.yelp {
        color: $yelp-red;
        border-color: $yelp-red;
      }
      &.facebook {
        color: $facebook-blue;
        border-color: $facebook-blue;
      }
      &.instagram {
        color: google-color(deeppurple, a700);
      }
    }
  }
  & .yelp,
  & .facebook {
    font-size: 3rem;
    position: relative;
    top: -3px;
    border: 5px solid color(black a(15%));
    border-radius: 13px;
  }
}
.parallax__hero-content {
  & .headline__title {
  }

  & .headline__subtitle {
    display: flex;
    justify-content: center;
    font-weight: 800;
    color: color(black a(50%));
    text-align: center;
    padding-top: 40px;
    font-size: 1.5rem;
    line-height: 1.4;
    font-family: $serif;
    max-width: 255px;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      max-width: 100%;
    }
  }
}
.copyright__icon {
  font-weight: 400;
  font-size: 1rem;
  padding-left: 5px;
}
.logo {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  &__circle {
    width: 280px;
    border-radius: 50%;
    background-color: white;
  }
}
.hashtags {
  transition: opacity 3s ease-out;
}
