.instanode {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__container {
    overflow: hidden;
    background-color: google-color(brown, 900);
    position: relative;
    z-index: 1;

    & .container {
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 0 15px;
      transform: translate(-50%, -50%);
    }
    & .headline__title {
      width: 100%;
      cursor: pointer;
      padding: 20px 30px;
      background-color: google-color(amber, a400);
      color: black;
      border-radius: 100px;
      transition: all 0.3s ease-out;
      font-size: 30px;

      &:hover {
        background-color: google-color(amber, a400);
        color: black;
      }
      @mixin atMedium {
        font-size: 50px;
      }
    }
    & .headline__supertitle {
      top: 0;
    }
  }
  &__inner {
    position: relative;
    z-index: -1;
  }

  &__item {
    position: relative;
    z-index: 1;
    z-index: 1000;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-out;
    opacity: 0.2;

    @mixin atMedium {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
